<!DOCTYPE html>
<html>
  <head>
    <title>Talk.me Login</title>
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
      * {
        font-family: "Montserrat", sans-serif;
      }
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
        background: #f3f6fb;
        padding: 2rem 2rem;
        width: 60vw;
        border-radius: 25px;
        height: 40vh;
        box-shadow: 10px 10px 23px -1px rgba(0, 0, 0, 0.53);
        -webkit-box-shadow: 10px 10px 23px -1px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 10px 10px 23px -1px rgba(0, 0, 0, 0.53);
      }

      .title {
        margin-top: 5vh;
        font-size: 3rem;
        color: #6e14ef;
      }
      .header {
        text-align: center;
        font-size: 2.1rem;
      }
      .container button:active,
      .container button:focus {
        outline: none;
      }
      .container button {
        border: none;
        border-radius: 10px;

        padding: 0.3rem 0.6rem;
        width: 15vw;
        cursor: pointer;
        text-align: center;
      }

      .wrapper {
        margin-top: 1rem;
      }
      .button {
        width: 7vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      .link {
        text-decoration: none;
      }
      @media only screen and (max-width: 600px) {
        .header {
          font-size: 1.5rem;
        }
        .button {
          font-size: 0.6rem;
        }
      }
    </style>
  </head>

  <body>
    <h1 class="title">Talk.me</h1>

    <div class="container">
      <h3 class="header">Sign in with Google Account</h3>
      <div class="wrapper">
        <a href="/google" class="link">
          <button class="mdc-button mdc-button--raised">
            <span class="mdc-button__ripple"></span>
            <div class="button">
              <span class="mdc-button__label">Sign in</span>
            </div>
          </button>
        </a>
      </div>
    </div>
  </body>
</html>
